<img class='country__flag' src='{{flags.svg}}' alt='{{name.official}}' height='250' />
<h2 class='country__name'>{{name.official}}</h2>
<ul>
  <li class='country__description'><b>Capital:</b> {{capital}}</li>
  <li class='country__description'><b>Population:</b> {{population}}</li>
  <li class='country__description'><b>Languages:</b>{{#each languages}}
      {{this}};
    {{/each}}</li>
</ul>